[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
flake8 = "*"
coverage = "*"
sphinx = "*"
twine = "*"
bump2version = "*"
nox = "*"
pytest = "*"
pytest-runner = "*"
pytest-watch = "*"
pytest-asyncio = "*"

[packages]
pandas = "*"
jupyter-commons = "*"

[requires]
python_version = "3.8"
